/* CSS declarations go here */
@import 'mixins';

body{
  background: #37474F;
  color: #ccc;
  font-family: 'Open Sans', "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  i{
    color: #ccc;
    font-size:1.6em;
  }
}
@for $i from 1 to 6{
  h#{$i}{
    font-family: 'Roboto Slab', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  }
}
#top-main-navbar.navbar{
  position: relative;
  box-shadow: 0 0 6px 1px rgb(49, 52, 51);
  .create-new{
    position: absolute;
    height: 50px;
    width: 50px;
    background: #7E57C2;
    box-shadow:0 0 6px 1px rgb(49, 52, 51);
    border-radius: 50%;
    right: 5%;
    top: 60%;
    cursor:pointer;
    i{
      padding:12px 14px;
    }
  }
  .navbar-header{
    width: 100%;
    .logo{
      width:50px;
      margin-top: -18px;
    }
    ul.navbar-nav{
      .main-link{
        text-transform: uppercase;
      }
    }
  }
}


.app-body{
  padding: 20px;
  h1{
    text-align: center;
  }
  .autocomp-form{
    width: 50%;
    min-width:320px;
    margin: 50px auto;
    #autocomp-field{
      color: white;
      height: 50px;
      font-size: 1.5em;
    }
    label{
      color: #ccc;
    }
    #resultBox{
      background: #009587;
      ul{
        list-style-type: none;
      }
      a{
        color:white;
      }
    }
  }
}