/* CSS declarations go here */
@import 'mixins';
@import "overlay";

body{
  background: $bg-color;
  color: $text-color;
  font-family: $body-font-stack;
  i{
    color: $text-color;
    font-size:1.6em;
  }
}
@for $i from 1 to 6{
  h#{$i}{
    font-family: $header-font-stack;
  }
}
.create-new{
  position: absolute;
  height: 50px;
  width: 50px;
  background: $action-color;
  box-shadow: $box-shadow;
  border-radius: 50%;
  right: 50%;
  top: 60%;
  margin-right:-25px;
  cursor:pointer;
  i{
    padding:12px 14px;
  }
}
#top-main-navbar.navbar{
  position: relative;
  box-shadow: $box-shadow;
  .navbar-header{
    width: 100%;
    .logo{
      width:50px;
      margin-top: -18px;
    }
    ul.navbar-nav{
      .main-link{
        text-transform: uppercase;
      }
    }
  }
}

// GLOBAL
::-webkit-input-placeholder { /* WebKit browsers */
  color:    $bg-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $bg-color;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $bg-color;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $bg-color;
}
[placeholder]{
  color: $bg-color;
}
div.dropdown-menu{
  div.navbar-form{
    button.btn-GitHub{
      background-color: #2196F3;
    }
    button.btn-Google{
      background-color: #FF5722;
    }
  }
  button#login-buttons-open-change-password{
    background-color: $action-color;
  }
}
//END GLOBAL


.app-body{
  padding: 20px;
  h1{
    text-align: center;
  }
  .autocomp-form{
    width: 50%;
    min-width:320px;
    margin: 50px auto;
    #autocomp-field{
      color: $white;

      font-size: 1.2em;
    }
    label{
      color: $text-color;
    }
    #resultBox{
      background: $nav-color;
      position: absolute;
      width: 48%;
      z-index: 10;
      ul{
        list-style-type: none;
      }
      a{
        color:white;
      }
    }
  }
}

#playlist{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  ul{
    list-style-type: none;
    li.video-wrapper{
      margin-bottom: 30px;
      padding: 0 7px 40px 7px;
      border-bottom: 1px solid $text-color;
      position: relative;
      .title-link{
        position: absolute;
        left:145px;
      }
      .video-thumb{
        width:120px;
        height: 90px;
      }
      .description{
        position: absolute;
        bottom: 15px;
        left: 145px;
      }
      .video-actions{
        position: absolute;
        bottom: 8px;
        left: -15px;
        .favourite{
          display: inline-block;
          margin-right: 4px;
          width: 25px;
          height: 25px;
          cursor: pointer;
          &:hover{
            @include scale-element(1.15, 1.15);
            @include vendor-transition(all, 0.05s, ease-in);
          }
        }
      }
    }
  }
}