/* CSS declarations go here */

body{
  background: #37474F;
  color: #ccc;
  i.mdi{
    font-family: "Material-Design-Icons"!important;
    color: #ccc;
    font-size:1.6em;
  }
}
#top-main-navbar.navbar{
  position: relative;
  box-shadow: 0 0 6px 1px rgb(49, 52, 51);
  .create-new{
    position: absolute;
    height: 50px;
    width: 50px;
    background: #7E57C2;
    box-shadow:0 0 6px 1px rgb(49, 52, 51);
    border-radius: 50%;
    right: 10%;
    top: 46%;
  }
  .navbar-header{
    width: 100%;
    .logo{
      width:50px;
      margin-top: -18px;
    }
    ul.navbar-nav{
      .main-link{
        text-transform: uppercase;
      }
    }
  }
}
